@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --body-color: #fcfdfe;
  --checkout-color: #8f6ed5;
  --elements-color: #6772e5;
}

body {
  background-color: var(--body-color);
}
